{
    "extends": "airbnb",
    "rules":
    {
        "react/jsx-filename-extension": "off",
        "react/prop-types": "off",
        "react/require-default-props": "off",
        "jsx-a11y/href-no-hash": "off",
        "class-methods-use-this": "off",
        "import/no-extraneous-dependencies": "on",
        "semi": "never",
        "jsx-a11y/anchor-is-valid": ["warn",
        {
            "aspects": ["invalidHref"]
        }]
    }
}
